@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --laranja: hsl(35, 77%, 62%);
    --vermelho: hsl(5, 85%, 63%);
    --branco: hsl(36, 100%, 99%);
    --azul-cinza: hsl(233, 8%, 79%);
    --azul-escuro: hsl(236, 13%, 42%);
    --azul-preto: hsl(240, 100%, 5%);
}

body {
    background-color: var(--branco);
}

main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin: 20px;
    grid-auto-flow: column;
    gap: 100px;
}

#inicio > h1 {
    font-size: 3em;
    font-weight: 800;
    font-family: "inter";
    line-height: 1em;
    padding: 20px 100px 20px 0px;
}
#inicio p {
    font-family: "inter";
    line-height: 1.8em;
    font-weight: 400;
    color: var(--azul-escuro);
}
#inicio a {
    color: var(--azul-preto);
    background-color: var(--vermelho);
    text-decoration: none;
    font-family: "inter";
    font-weight: 800;
    letter-spacing: .2em;
    display: inline-block;
    padding: 15px 50px;
    margin-top: 20px;
}

#intro {
    width: 420px;
    display: block;
    margin: auto;
}