@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --laranja: hsl(35, 77%, 62%);
    --vermelho: hsl(5, 85%, 63%);
    --branco: hsl(36, 100%, 99%);
    --azul-cinza: hsl(233, 8%, 79%);
    --azul-escuro: hsl(236, 13%, 42%);
    --azul-preto: hsl(240, 100%, 5%);
}

body {
    background-color: var(--branco);
}

main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    margin: 20px;
    grid-auto-flow: column;
    gap: 100px;
}

#inicio > h1 {
    font-size: 3em;
    font-weight: 800;
    font-family: "inter";
    line-height: 1em;
    padding: 20px 100px 20px 0px;
}
#inicio p {
    font-family: "inter";
    line-height: 1.8em;
    font-weight: 400;
    color: var(--azul-escuro);
}
#inicio a {
    color: var(--azul-preto);
    background-color: var(--vermelho);
    text-decoration: none;
    font-family: "inter";
    font-weight: 800;
    letter-spacing: .2em;
    display: inline-block;
    padding: 15px 50px;
    margin-top: 20px;
}

#intro {
    width: 420px;
    display: block;
    margin: auto;
}

#novidades {
    background-color: var(--azul-preto);
    padding: 15px;
}

#novidades h1 {
    color: var(--laranja);
    padding: 15px;
}

#novidades h2 {
    color: var(--branco);
    font-weight: 700;
}

#novidades p {
    color: var(--azul-cinza);
    padding-top: 5px;
    line-height: 1.5em;
}

.item {
    padding: 25px 15px;
}
.item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.279);
}

#noticias {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px 0px;
}

#noticias img {
    width: 120px;
}

#noticias h1 {
    color: var(--vermelho);
}

#noticias h2 {
    color: var(--azul-preto);
    font-weight: 800;
}

#noticias p {
    color: var(--azul-escuro);
    line-height: 1.5em;
}

/* SESSÃO DE ATRIBUIÇÃO */

#atrib {
    font-family: 'work-sans', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    color: white;
    background-color: hsl(292, 42%, 14%);
    padding: 10px;
    margin: 20px 0px;
    margin: auto;
    border-radius: 10px;
    width: 300px;
}

#atrib a {
    color: hsl(294, 26%, 72%);
    text-decoration: none;
}
