@charset "UTF-8";

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Overpass";
}

#container-mains {
    position: relative;
    width: 90%;
    max-width: 460px;
    height: 420px;
}

#p-tela, #s-tela {
    position: absolute;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

#p-tela.oculto, #s-tela.oculto {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

#s-tela.oculto {
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

main#p-tela {
    z-index: 1;
    background-image: linear-gradient(to bottom, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    color: white;
    max-width: 460px;
    height: 420px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.337);
}

img#estrela {
    background-color: hsla(217, 12%, 63%, 0.167);
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 50%;
    -moz-user-select: none;
    user-select: none;
}

h1#t1 {
    padding: 10px 0px 10px 0px;
}

p#p1 {
    font-weight: lighter;
    line-height: 1.5em;
    padding-bottom: 25px;
}
#valores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
div.valor {
    width: 60px;
    height: 60px;
    background-color: hsl(217, 12%, 63%, 0.167);
    color:hsl(217, 12%, 63%);
    font-weight: 700;
    font-size: large;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease, color .2s ease;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.337);
    
}
.valor:hover {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color: rgb(30, 30, 30);
}
.valor.clicado {
    background: white;
    color: black;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.valor:focus {
    outline: none;
}

div#enviar {
    background-color: hsl(25, 97%, 53%);
    color: rgb(28, 27, 27);
    width: 80%;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    font-weight: 900;
    -moz-user-select: none;
    user-select: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    letter-spacing: .05em;
}
#enviar:hover {
    cursor: pointer;
    background-color: white;
    transform: scale(1.05);
    
}

/* SESSÃO DA SEGUNDA TELA */

main#s-tela {
    background:hsl(213, 17%, 12%);
    color: white;
    max-width: 460px;
    height: 420px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.337);
}

#img2 {
    display: block;
    margin: auto;
    padding: 30px 0px 30px 0px;
}

#nota {
    background: hsl(217, 12%, 63%, 0.167);
    color: hsl(25, 97%, 53%);
    font-weight: 200;
    margin: auto;
    display: block;
    text-align: center;
    width: 180px;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 50px;
}

#h1-2 {
    text-align: center;
    margin-bottom: 10px;
}

#p2 {
    text-align: center;
    line-height: 1.5em;
    font-weight: lighter;
}

/* SESSÃO DE ATRIBUIÇÃO */

#atrib {
    font-family: 'work-sans', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    color: white;
    background-color: hsl(292, 42%, 14%);
    padding: 8px;
    margin-top: 20px;
    border-radius: 10px;
}

#atrib a {
    color: hsl(294, 26%, 72%);
    text-decoration: none;
}

@media screen and (max-width: 420px) {
    
    div.valor {
        width: 50px;
        height: 50px;
    }
}