@charset "UTF-8";

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Overpass";
}

#s-tela {
    display: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

main#p-tela {
    background-color: hsl(213, 19%, 18%);
    color: white;
    max-width: 460px;
    height: 420px;
    padding: 25px;
    border-radius: 15px;
}

img#estrela {
    background-color: hsla(217, 12%, 63%, 0.167);
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 50%;
}

h1#t1 {
    padding: 10px 0px 10px 0px;
}

p#p1 {
    font-weight: lighter;
    line-height: 1.5em;
    padding-bottom: 25px;
}

div.valor {
    display: inline;
    background-color: hsl(217, 12%, 63%, 0.167);
}

div#enviar {
    background-color: hsl(25, 97%, 53%);
}


main#s-tela {
    background-color: hsl(213, 19%, 18%);
    color: white;
    max-width: 460px;
    height: 420px;
    padding: 25px;
    border-radius: 15px;
}